{% extends "base.html" %}

{% block content %}
<h1>Hell-0, I am Daniel!</h1>
<p>I am Russian developer, math enjoyer, table tennis player. Feel free to contact me.</p>

 <figure>
      <table>
 <thead>
  <tr>
   <th>Type</th>
   <th>Address</th>
  </tr>
 </thead>
 <tbody>
    <tr>
      <td>Mail</td>
      <td>daniel@hell-0.ru</td>
    </tr>

    <tr>
      <td>XMPP</td>
      <td>daniel@hell-0.ru</td>
    </tr>

    <tr>
      <td>GitHub</td>
      <td><a href="https://github.com/DanielBash">DanielBash</a></td>
    </tr>

    <tr>
      <td>Telegram</td>
      <td><a href="https://t.me/ddbash">@ddbash</a></td>
    </tr>

    <tr>
      <td>This Website</td>
      <td><a href="https://hell-0.ru/users/daniel">daniel</a></td>
    </tr>

    <tr>
      <td>DockerHub</td>
      <td><a href="https://hub.docker.com/repositories/danielbashl">danielbashl</a></td>
    </tr>
 </tbody>
</table>
</figure>

<p>I may have spending too much time at useless projects, here are all of em:</p>
<a href="https://chat.hell-0.ru">Just active xmpp server, not something special</a><br/>
<a href="https://nerdfight.ibashlhr.beget.tech">NerdFight - an online math problem website</a><br/>
<a href="https://flag-sweeper.ibashlhr.beget.tech">CTF platform</a><br/>
<a href="https://hell-0.ru">A personal website (this)</a><br/>


<p>As you may have noticed, i love minimalistic but highly functional websites. Sorry for lazy design..</p>
{% if user %}
<p>Or hey, you are registered. Look at some useful links: <a href="{{url_for('users.user', username=user.username)}}">Your profile</a>,<br/>
<a href="{{url_for('posts.posts', username=user.username)}}">Make a post</a>,<br/>
<a href="{{url_for('messages.filter')}}">View your inbox</a><br/>
</p>
{% endif %}

{% endblock %}
