{% extends "base.html" %}

{% block content %}

<h1>Say hello to: {{ target_user.username }}!</h1>

{% if user.username == target_user.username %}
<p>Hey, thats you! Do you want to <a href="{{ url_for('auth.logout') }}">log out</a>? You can edit this on a <a href="{{ url_for('auth.edit') }}">profile edit page</a>. 
Want to view <a href="{{ url_for('messages.filter') }}">messages</a>?</p>
{% else %}
<p>We treat all users equally. Please, be polite.</p>
{% endif%}

<figure>
<table>
 <thead>
  <tr>
   <th>Stat</th>
   <th>Value</th>
  </tr>
 </thead>
 <tbody>
    <tr>
      <td>Permissions</td>
      <td>{{target_user.permission_group}}</td>
    </tr>

    <tr>
      <td>Status</td>
      <td>{{target_user.status | safe}}</td>
    </tr>

    <tr>
      <td>Registered at</td>
      <td>{{target_user.registered_at}}</td>
    </tr>
 </tbody>
</table>
</figure>
<p>Bio: {{target_user.bio | safe}}</p>
View my posts <a href="{{ url_for('posts.posts', username=target_user.username) }}">here</a>!
{% endblock %}